<ion-view view-title="Residents">
  <ion-content class="padding">

    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input ng-model="searchParams.name" ng-keyup="search()" type="search" placeholder="Search">
        </label>
    </div>

    <div class="list card" ng-repeat="resident in filteredResidents">
      <div class="item item-divider">{{resident.MAILTO}}</div>
      <div class="item item-body">
        <div>
          {{resident.SITE_ADDR_1}}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
